!!! XML
%rss{ :version => "2.0" }
  %channel
    %title handmade yellow
    %link http://inutano.github.com
    %description RDF kills you
    %language ja
    %pubDate= Time.now
    
    %item
      %title= titlo
      %link= link
      %guid= id
      %author= autori
      %pubDate= created_at
      %description= testo_per_rss
        
